<form method="post">
    <div id="input_field" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="title" id="title" required>
        <label class="mdl-textfield__label" for="title">Заголовок</label>
    </div>
    <br>
    <label><textarea placeholder="Текст нвоини" name="text" required></textarea></label>
    <br>
    <br>
    <br>
    <input type="submit" value="Додати" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored btn_size"/>
</form>

